<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/non-responsive.css" rel="stylesheet"/>

    <!-- Bootstrap Dropdown Hover CSS -->
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>

    <link href="/css/font-awesome.min.css" rel="stylesheet"/>

    <link href="/css/style.css" rel="stylesheet"/>

    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<p>Dragi <span th:text="${user.firstName}"></span>,</p>
<br/>
<p>Hvala Vam što kupujete u našoj web prodavnici. Nadamo se da ste zadovoljni našom uslugom!</p>
<p>Broj Vaše porudžbine je: <strong>#<span th:text="${order.id}"></span></strong>. Detalji:</p>
<h2>Detalji porudžbine #<span th:text="${order.id}"></span></h2>
<hr/>

<table>
    <tr>
        <th>Detalji za naplatu</th>
        <th>Informacije o načinu plaćanja</th>
        <th>Adresa za dostavu</th>
    </tr>
    <tr>
        <td>
            <span th:text="${order.billingAddress.billingAddressName}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressStreet}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressCity}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressZipcode}"></span><br/>
        </td>
        <td>
            <span th:text="${order.payment.holderName}">Naziv kartice</span><br/>
            Visa<br/>
            <span th:text="${order.payment.cardNumber}">Broj kartice</span><br/>
            <span>Exp Date:</span> <span
                th:text="${order.payment.expiryMonth}"></span>/<span
                th:text="${order.payment.expiryYear}"></span><br/>
        </td>
        <td>
            <span th:text="${order.shippingAddress.receiverName}"></span><br/>
            <span th:text="${order.shippingAddress.street}"></span><br/>
            <span th:text="${order.shippingAddress.city}"></span><br/>
            <span th:text="${order.shippingAddress.zipcode}"></span><br/>
        </td>
    </tr>
</table>

<h3><strong>Pregled porudžbine</strong></h3>
<table>
    <thead>
    <tr>
        <td><strong>Ime stavke</strong></td>
        <td class="text-center"><strong>Cena stavke</strong></td>
        <td class="text-center"><strong>Količina</strong>
        </td>
        <td class="text-right"><strong>Ukupno</strong></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cartItemList}">
        <td><span data-th-text="${cartItem.book.title}"></span>
        </td>
        <td data-th-text="${cartItem.book.ourPrice}"
            class="text-center">
        </td>
        <td data-th-text="${cartItem.quantity}" class="text-center">

        </td>
        <td data-th-text="${cartItem.subTotal}"
            class="text-right">
        </td>
    </tr>
    <tr>
        <td class="highrow"></td>
        <td class="highrow"></td>
        <td class="highrow text-center">
            <strong>Ukupno</strong></td>
        <td data-th-text="${order.orderTotal}"
            class="highrow text-right">
        </td>
    </tr>
    </tbody>
</table>
<br/>
<p>Srdačno,</p>
<p>STOREBOOKS tim</p>
</body>
</html>